*{
    padding: 0%;
    margin: 0;
    box-sizing: content-box;

}

body{
    background: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header{
    background-color: rgb(247, 242, 242);
    border-bottom: rgb(162, 121, 79);
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.navegacion{
    width: 900px;
    margin: 0 auto;
}

img{
    width: 130px;
    height: 80px;

    float: left;
    padding: 8px;

}

nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 65px;
    padding: 20px 0;
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: rgb(4, 57, 70);
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0;
    background: rgb(162, 121, 79);
    height: 5px;
    top: 0;
    position: absolute;
}

nav ul li a:hover::before{
    width: 100%;
}

/*******************IMG*****************/
.contenido{
    margin: 0 270px;
}

.contenido-iten{
    position: relative;
    display: inline-block;
}

.contenido img{
    width: 550px;
    height: 350px;
    margin-left: 75px;
    padding: 50px;
    display: block;
0

.texto{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: none;
    color: rgb(4, 57, 70);
    padding: 1opx;
    font-family: Arial, sans-serif;
    font-size: 20px;
}